html body {
  font-family: 'Roboto', arial, sans-serif;
  margin: 0 0;
  font-size: 13.5px;
  color: #777;
  word-spacing: 2px;
  min-width: 1200px;
}

li {
  display: inline-block;
  font-size: small;
  padding: 10px;
}


/*Search Bar & and User*/

#srcusr {
  margin: 0;
  padding: 15px 20px 0 15px;
  height: 60px;
  font-size: 0;
  background-color: #f9f9f9;
}

.gtop {
  display: inline-block;
  margin: auto;
  height: 40px;
  vertical-align: middle;
  font-size: 13.5px;
}

.glogo {
  padding-right: 20px;
}

.glogo a {
  display: block;
  height: 40px;
}

#srcb {
  margin: 10px auto;
  padding: 0 10px;
  width: 612px;
  min-width: 400px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 1px .5px #777;
  background-color: #FFF;
}

#srh {
  width: 90%;
  height: 90%;
  border: none;
  padding: 0;
}
#srh[type='text'] {
  font-size: 16px;
}

#srh:focus {
  outline: none;
  font-size: 16px;
}

.src-logo {
  display: inline-block;
  background-image: url(../images/sharp_search_black.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 20px;
}

#usr {
  position: relative;
  float: right;
  width: 195px;
  padding:  10px;
}

#usr a {
  display: inline-block;
  float: right;
  height: 40px;
  text-decoration: none;
}

#usr a span {
  display: block;
  height: 20px;
  margin-top: 5px;
  padding: 5px 10px;
}

#usr a .gapp {
  background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
  background-position: -124px -43px;
  width: 25px;
  padding: 0 10px;
  margin: 10px 10px 0 10px;
}

#usr a .sgin {
  border: 1px solid #1A73E8;
  border-radius: 2px;
  background-color: #1A73E8;
}

a .sgin {
  color: #FFF;
  text-decoration: none;
}

/*Navigation Menu and Tools*/

#navbar {
  position: relative;
  margin: 0 auto 10px auto;
  border-bottom: 1px solid #e4e4e4;
  padding: 12px 0 0 160px;
  height: 40px;
  background: #f9f9f9;
  min-width: 1000px;
}

nav {
  width: 630px;
}

#menubar {
  list-style-type: none;
  padding: 0;
  font-size: 0px;
}

.tr {
  float: right;
}

.tplst {
  height: 20px;
  padding: 10px 15px;
}

.tplst a {
  color: #777;
  text-decoration: none;
}

.tplst a:hover {
  color: #000;
}

.flist {
  height: 20px;
  padding: 10px 15px 7px 15px;
  border-bottom: 3px solid #1A73E8;
}

.flist a {
  color: #1A73E8;
  text-decoration: none;
}

/* Main search div */

#srcres {
  position: relative;
  top: 2px;
  left: 140px;
  margin-top: 1px;
  padding: 10px 10px 10px 15px;
  height: 80%;
  width: 650px;
}

/*Search result metric*/

.g_rst {
  padding-left: 20px;
}

/*Search results*/

.pg_rst {
  margin-top: 20px;
}

.top_hdl {
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #777;
  width: 620px;
  padding: 5px 0 5px 20px;
  color: #000;
}

.top_hdl span {
  padding-left: 22px;
  color: #777;
}

.top_hdl .webhdl {
  margin-bottom: 0;
  font-weight: normal;
  color: #1a0dab;
}

.top_hdl cite, .gsr cite {
  font-style: normal;
  color: #006621;
  font-size: 14px;
}

.pg_rst  ol {
  padding: 0;
}

.hdl {
  display: block;
  padding: 5px 5px 5px 0;
  font-size: 14px;
}

#toplnk {
  width: 600px;
  padding: 5px 0 20px 10px;
  text-align: right;
}

#abt, #fdb {
  font-size: 12px;
  padding: 0 10px;
  color: #777;
  text-decoration: none;
}

.gsr {
  margin-left: 10px;
  padding: 15px 10px;
}

.gsr h3 {
  margin: 0;
  font-weight: normal;
  font-size: 17px;
}

.lnktxt {
  color: #1a0dab;
  text-decoration: none;
}

/*Related Searches*/

#relsrh {
  height: 150px;
  margin-top: 40px;
  padding-left: 10px;
}

#relsrh h3 {
  margin-bottom: 0;
  padding-left: 10px;
}

.lr_relsrh {
  display: inline-block;
  margin: 15px auto 0 auto;
  height: 100px;
  width: 250px;
}

.lr_relsrh span {
  display: inline-block;
  padding: 5px 5px 5px 10px;

}

.lr_relsrh span a {
  font-weight: bold;
  color: #1a0dab;
  text-decoration: none;
}

/* Page Count and Google Logo */

.srchcnt {
  height: 70px;
  width: 630px;
  text-align: center;
  margin: 20px 0;
}

.g1 {
  display: inline-block;
  height: 40px;
  width: 28px;
  background-image: url(https://www.google.com/images/nav_logo242.png);
  background-position: -24px 0;
}

.g2 {
  display: inline-block;
  height: 40px;
  width: 20px;
  background-image: url(https://www.google.com/images/nav_logo242.png);
  background-position: -54px 0;
}

.gylwo {
  display: inline-block;
  height: 40px;
  width: 20px;
  background-image: url(https://www.google.com/images/nav_logo242.png);
  background-position: -74px 0;
}

td a {
  color: #4285f4;
  text-decoration: none;
}

.gnxt {
  display: inline-block;
  height: 40px;
  width: 70px;
  background-image: url(https://www.google.com/images/nav_logo242.png);
  background-position: -97px 0;
}

table {
  margin: 0 auto;
}

td {
  vertical-align: top;
  height: 50px;
  width: 20px;
  padding: 0;
  font-size: 13.5px;
}

.nxt {
  text-align: right;
}

/* Footer */

#gft {
  border-top: 1px solid #e4e4e4;
  background: #f2f2f2;
  min-width: 1200px;
}

.lct {
  padding: 10px 0 10px 10px;
}

.geoloc {
  margin-left: 160px;
}

footer {
  border-top: 1px solid #e4e4e4;
  position: relative;
  padding-left: 160px;
}

.ftr {
  list-style-type: none;
  padding: 0;
  font-size: 0px;
  height: 40px;
}

.ftr li a {
    color: #777;
    text-decoration: none;
}

.ftr li a:hover, td a:hover, .lr_relsrh span a:hover, .lnktxt:hover, #abt:hover, #fdb:hover   {
    text-decoration: underline;
}
